body {
    font-family: 'Inter', sans-serif;
    background-color: #f8f9fa;
}
.navbar {
    background-color: #3a3a3a !important;
}
.navbar-brand, .nav-link {
    color: #ffffff !important;
}
.carousel-item img {
    height: 400px;
    object-fit: cover;
}
.card {
    transition: transform 0.3s;
    margin-bottom: 20px;
}
.card:hover {
    transform: translateY(-5px);
}
.respeto {
    background-color: #e9ecef;
}